manifest{
    name = 'Teloseq'
    author = 'Rob King'
    homePage = 'https://github.com/rob234king/Teloseq'
    description = 'Filter and get statistics of telomere enriched reads from ONT sequencing.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = '0.1.0'
}


process {
	executor='local'
  	process.memory = '8G'
  	process.cpu = '4'
}

epi2melabs {
  	outdirParam = 'output_dir'
  	tags = "telomere"
}


// Global default params, used in configs
params {

    // Input options
    input     = null
	reference = null
}

profiles{
    standard {
      params.profile_selected = 'Standard'
        conda{
    		conda.enabled = true
  		}
    }
}

